#install4j response file for Confluence 6.7.1
app.confHome={{ home_dir }}
app.install.service$Boolean=true
executeLauncherAction$Boolean=true
httpPort$Long={{ listening_port }}
launch.application$Boolean=false
rmiPort$Long=8000
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ app_dir }}
sys.languageId=en
