# install4j response file for Bitbucket 5.7.1
app.bitbucketHome={{ home_dir }}
app.defaultInstallDir={{ app_dir }}
app.install.service$Boolean=true
httpPort={{ listening_port }}
installation.type=INSTALL
launch.application$Boolean=false
sys.adminRights$Boolean=true
sys.languageId=en
